.workspace-leaf-content img:not([width]), .workspace-leaf-content audio, .workspace-leaf-content video {
    max-width: 70% !important;
    background-color:white
}

.markdown-source-view.mod-cm6 .cm-content > * {
    display:block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 10px !important;
}
